.card-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  background-color: #1c1c1c;
}

.card-down-one {
  height: 20rem;
  width: 8rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  margin: 0 2rem;
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card-down-one-body {
  background: white;
  display: block;
}

.card-down-one-title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-style: bold;
  text-align: left;
}

.card-down-one-text {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: bold;
  margin: 0rem 4rem 0rem 4rem;
}

.card-down-one-title,
.card-down-one-text {
  margin-left: 3rem;
  color: #fff;
}

.card-down-one p {
  text-align: left;
  margin: 1rem 3rem;
  color: #fff;
}

.card-down-two {
  height: 20rem;
  width: 0rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding: 0;
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.card-down-two-body {
  background: white;
  padding-bottom: 10px;
  display: block;
  margin: 2rem auto 2rem;
}

.card-down-two-title {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1.8rem;
  font-style: bold;
}

.card-down-two-text {
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  font-style: bold;
}

.card-down-two-title,
.card-down-two-text {
  text-align: center;
  color: #fff;
}

p:hover {
  cursor: pointer;
}

.icon-image1 {
  position: relative;
  display: block;
  margin: 2rem 10rem 0rem 2rem;
  height: 60px;
  width: 120px;
}

.svg-icon {
  height: 1rem;
  width: 1rem;
  filter: invert(100%) sepia(0%) saturate(7487%) hue-rotate(8deg) brightness(100%) contrast(100%);
}

.svg-icon p {
  color: #fff;
}

.mail-input {
  box-sizing: border-box;
  display: block;
  float: left;
  width: 75%;
  line-height: 1.8rem;
  position: relative;
  margin: 0rem 3rem;
  background-color: #1c1c1c;
  color: #fff;
  font-size: 1rem;
  border: 2px solid #fff;
}

.mail-btn {
  box-sizing: border-box;
  display: block;
  float: left;
  line-height: 1.8rem;
  position: relative;
  margin: 0.5rem 3rem;
  background-color: #1c1c1c;
  color: #fff;
  width: 5rem;
  border: 2px solid #fff;
}