<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<div class="card-top" id="card-top">
    <div class="card-top-one">
    <div class="circle">
    <svg>
        <circle id="circle"/>
    </svg>
    </div>
    {{fields.field_card_image.content}}
        <div class="card-top-one-body">
            <div class="card-top-one-title">
                <h3>{{fields.field_card_body_title.content}}</h3>
            </div>
            {{fields.field_card_body_text.content}}
        </div>
    </div>
</div>
