<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<div class="layout-container">
    <div class="copy">
    {{fields.field_card_footer_copyright.content}}
    </div>
<div class="copy-icons">
    <ul class="social-icons">
	    <li>
            <a href="#" class="fa fa-facebook" aria-hidden="true"></a>
        </li>
	    <li>
            <a href="#" class="fa fa-twitter" aria-hidden="true"></a>
        </li>
	    <li>
            <a href="#" class="fa fa-dribbble" aria-hidden="true"></a>
        </li>
	    <li>
            <a href="#" class="fa fa-pinterest" aria-hidden="true"></a>
        </li>
	    <li>
            <a href="#" class="fa fa-behance" aria-hidden="true"></a>
        </li>
	    <li>
            <a href="#" class="fa fa-envelope-o" aria-hidden="true"></a>
        </li>
</ul>
</div>
</div>
