<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/dd7e4df5bd.js" crossorigin="anonymous"></script>
<div class="card-down-one-two" style="background-color: #1c1c1c;">
    <div class="card-down-one-two-body" style="background-color: #1c1c1c;">
        <h3 class="card-down-one-two-title">
            {{fields.field_card_bottom_three_title.content}}
        </h3>
        <p class="card-down-one-two-text">
            {{fields.field_card_bottom_three_body.content}}
        </p>
        <form action="#" method="post">
            <input class="mail-input" id="fname" name="fname" placeholder=" Enter your Email" type="text" />
            <button class="mail-btn" name="submit" type="submit">Submit</button>
        </form>
    </div>
</div>
