.card-bottom-outer {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  margin-left: 6rem;
  margin-right: 6rem;
}
@media only screen and (max-width: 800px) {
  .card-bottom-outer {
    display: flex;
    width: auto;
    margin: 0;
  }
}

.card-bottom-inner {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0px;
}

.card-bottom-outer-two {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  margin-left: 6rem;
  margin-right: 6rem;
}
@media only screen and (max-width: 800px) {
  .card-bottom-outer-two {
    display: flex;
    width: auto;
    margin: 0;
  }
}

.card-bottom-inner-two {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: #fff;
  -webkit-box-flex: 1;
  -ms-flex: auto;
  flex: auto;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 0px;
}

.card-bottom-image img {
  max-width: 100%;
  height: 100%;
}

.card-bottom-upper-text {
  text-align: center;
  font-size: 2.3rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .card-bottom-upper-text {
    display: block;
    width: auto;
    text-align: center;
  }
}

.card-bottom-lower-text {
  text-align: center;
  font-size: 1.1rem;
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-weight: 400;
  margin: 2rem 15rem;
  color: #fff;
  width: auto;
}
@media only screen and (max-width: 800px) {
  .card-bottom-lower-text {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }
}

.learn-more-bottom {
  height: 3rem;
  width: 8rem;
  background-color: transparent;
  border: 1px solid;
  color: #fff;
  text-align: center;
  display: table;
  position: relative;
  margin: 2rem auto;
}

.learn-more-bottom-content {
  vertical-align: middle;
  display: table-cell;
  vertical-align: middle;
  flex-direction: column;
}